version: '3.3'

services:
  app:
    image: andrepinheiro/nodejwt:1.0
    container_name: nodejwt
    volumes:
      - .:/app
    build: .
    ports:
      - 12900:12900
      - 4000:4000
    environment:
      - MONGO_URI=mongodb://nodejwtdb/nodejwt
      - NODE_PORT=3003
      - NODE_ENV=dev
    depends_on:
      - db
    networks:
      - nodejwtnet
  db:
    image: mongo:3.0.15
    container_name: nodejwtdb
    volumes:
      - ./db:/data/db
    ports:
      - 27017:27017
    networks:
      nodejwtnet:
        aliases:
          - "nodejwtdb"
networks:
  nodejwtnet:
    driver: bridge
